<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>show contacts</title>
</head>
<body th:replace="normal/base :: layout(~{::section})">

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text center">Your Contacts</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c: ${contacts}">
							<th scope="row" th:text="${'SCM2020' +c.cid}">1</th>
							<td>
								<!--  <img class="my_profile_picture" src="" th:src="@{'/image/'+${c.image}}" alt="profile photo" />  -->
								<!-- If contact has an image --> <img class="my_profile_picture"
								th:if="${c.image != null and !c.image.isEmpty()}"
								th:src="@{'/image/' + ${c.image}}" alt="profile photo" /> <!-- If contact has no image, show default -->
								<img class="my_profile_picture"
								th:unless="${c.image != null and !c.image.isEmpty()}"
								th:src="@{'/image/contact.png'}" alt="default profile photo" />

								<span th:text="${c.name}"></span>
							</td>
							<td><a th:href="@{'/user/' + ${c.cid} + '/contact'}"> <span
									th:text="${c.email}"></span>
							</a></td>

							<td th:text="${c.phone}">@mdo</td>
							<td><a href="#" th:onclick="|deleteContact(${c.cid})|"
								class="btn btn-danger btn-sm">Delete</a>

								<form method="post"
									th:action="@{'/user/update-contact/' + ${c.cid}}">
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form></td>

						</tr>

					</tbody>
				</table>

				<!-- pagination part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">

						<!-- Previous -->
						<li th:if="${currentPage > 0}" class="page-item"><a
							class="page-link"
							th:href="@{|/user/show-contacts/${currentPage - 1}|}">
								Previous </a></li>

						<!-- Page Numbers -->
						<li th:each="i : ${#numbers.sequence(1, totalpages)}"
							th:classappend="${currentPage == i - 1} ? 'active'"
							class="page-item"><a class="page-link"
							th:href="@{|/user/show-contacts/${i - 1}|}" th:text="${i}"> </a>
						</li>

						<!-- Next -->
						<li th:if="${currentPage + 1 < totalpages}" class="page-item">
							<a class="page-link"
							th:href="@{|/user/show-contacts/${currentPage + 1}|}"> Next </a>
						</li>


					</ul>
				</nav>

			</div>
		</div>
	</section>

</body>
</html>